    <!--begining of Carousel-->
<br />
<div id="carousel-example-generic" class="col-md-12 carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class=" item active dgCarousel">
            <img id="carousel-example-generic" style="width:100%; height:auto;" src="../../Pics/house.jpg">

            <div class="carousel-caption">
                Custom Audio-Video Design & Installation
            </div>
        </div>
        <div class="item dgCarousel">
            <img class="img-responsive" style="width:100%; height:auto; " src="../../Pics/house2.jpg" alt="...">

            <div class="carousel-caption">
                Commercial & Residential Security
            </div>
        </div>
        <div class="item dgCarousel">
            <img id="carousel-example-generic" style="width:100%; height:auto;" src="../../Pics/house3.jpg" alt="...">

            <div class="carousel-caption">
                High End Home Theater
            </div>
        </div>
    </div>
    <!-- Controls -->
    <span href="#carousel-example-generic" class=" carousel-control right" data-slide="next">
        <span class="icon-next">
        </span>
    </span>
    <span href="#carousel-example-generic" class=" height carousel-control left" data-slide="prev">
        <span class="icon-prev">
        </span>
    </span>
</div>

<!--begingin of glyph-->
<div>
    <div class="col-md-2">
        <a ng-href="#Contact">
            <h1 class="Color glyphicon glyphicon-envelope"></h1>
            <p>
                Contact Us
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#divData">
            <h1 class="Color glyphicon glyphicon-floppy-disk"></h1>
            <p>
                Data
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#divAudio">
            <h1 class="Color glyphicon glyphicon-headphones"></h1>
            <p>
                Audio
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#divVideo">
            <h1 class="Color glyphicon glyphicon-facetime-video"></h1>
            <p>
                Video
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#divSignage">
            <h1 class="Color glyphicon glyphicon-list-alt"></h1>
            <p>
                Signage
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#divControl">
            <h1 class="Color glyphicon glyphicon-random"></h1>
            <p>
                Control
            </p>
        </a>
    </div>
</div>

<!--end of glyph-->
<!--end of carousel-->
<div class=" col-md-12 backRoudColor">
    <div class="container-fluid col-md-4">
        <h2>One Pillar</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Two Pillar</h2>
        ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </div>
    <div class="col-md-4">
        <h2>Three Pillar</h2>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </div>
</div>

<div class="col-md-12">
    <div class="text-info text-center">
        <h3>Core Expertise</h3>
    </div>
    <div class="col-md-5 col-md-offset-">

        <img src="http://nebula.wsimg.com/66b26552f9a2da5b3ce073928964a256?AccessKeyId=0D7ECF591500A4DCE02C&disposition=0&alloworigin=1" class="img-responsive imgHeight" />
    </div>
    <div class="col-md-5">
        <ul class="font-size-text">
            <li>Certified National Integrator</li>
            <li>Development Consulting, Construction Management Implementation Management.</li>

            <li>Voice/Video/Data - We make the triple play a 'Home Run'</li>
            <li>Integrate all of you platforms - Smart home technology, Home theater, security, access control,CCTV</li>

            <li>Commercial, Hospitality and Industrial Integration Solutions</li>

            <li>
                New Development or Renovations - We design and
                capitalize around your needs.
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid ">
    <div class="backRoudColor">

        <div class="col-md-2 shadow-effect backRoudColor" id="divControl">
            <h2>Control</h2>
            <p>
                Envision4 provides the right control systems to tie all of your technology together, giving you one point of control. Making your technology systems work for you is our success.
            </p>
        </div>
        <div class="col-md-2 shadow-effect" id="divAudio">
            <div>
                <h2>Audio</h2>
                <p>
                    From Restaurants and Hotels to High End Custom Homes,
                    Envision4 provides unsurpassed audio systems solutions for your listening pleasure.
                </p>
            </div>
        </div>
        <div class="col-md-2 shadow-effect" id="divData">
            <h2>Data</h2>
            <p>
                From Racks and Patch Panels, we implement fiber and cat6 data networks that are tested and certified to meet all your server needs.
            </p>
        </div>
        <div class="col-md-2 shadow-effect" id="divSecurity">
            <h2>Security</h2>
            <p>
                Cameras and Security are key to keeping your office or home safe.  Let Envision4 provide the solution to give you peace of mind.
            </p>
        </div>

        <div class="col-md-2 shadow-effect" id="divSignage">
            <h2>Signage</h2>
            <p>
                Whether for your restaurants menu boards or advertising in your workplace, we have the digital signage to meet your needs.
            </p>
        </div>
        <div class="col-md-2  shadow-effect" id="divVideo">
            <h2>Video</h2>
            <p>
                From Video Conferencing in your board room to high end home theaters, we can create the experience you want.
            </p>
        </div>
    </div>
</div>

<div>
    <h2>Sectors</h2>
    <ul>
        <li>
            Commercial
        </li>
        <li>
            Education
        </li>
        <li>
            Health Care
        </li>
        <li>
            Hospitality
        </li>
        <li>
            Residential
        </li>
    </ul>
</div>

<!--end of carousel-->