<div style="padding-top:50px"><h4>Solution Edit</h4></div>

<div class="form-group" ng-controller="SolutiontEditController">
    <input class="form-control" ng-model="solution.SolutionName" />
    <input class="form-control" ng-model="solution.StartDate" />
    <input class="form-control" ng-model="solution.TargetCompletionDate" />
    <!--<input class="form-control" ng-model="solution.Urgency" />-->

    <label>Urgency</label><select class="form-control" ng-model="solution.Urgency">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High </option>
        <option value="Urgent">Urgent</option>
    </select>

    <button ng-click="EditedSolution()">Save Changes</button>
</div>